<div class="main">
<div class="master-mid">
	<!--left panel code starts here-->

	<div class="left-master-search">
		<div class="todomaster-panels">
			<div class="list-items">
				<tree-root [nodes]="nodes" [options]="options">
					<ng-template #treeNodeTemplate let-node="node" let-index="index" >
						<span (click)="initChildCat(node.data)">{{ node.data.name }}</span>
					</ng-template>
				</tree-root>
			</div>
		</div>
	</div>
	<div class="middle-calender-search">
		
	<div class="form-search">
		<form name="search_unassign" [formGroup]="CategoryForm" (submit)="addCategory(name)"  novalidate>
			<div class="form_input">
				<label for="email">Parent Category <input type="Button" value="Add New" class="addNew" (click)="addNew()" *ngIf="showbutton"></label>
				<span class="errormsg" *ngIf="validationerror == 2">Select Parent Category</span>
				<span class="errormsg" *ngIf="validationerror == 1">Enter Category</span>
				<input type="text" name="parent_name" value='' formControlName="parent_name" class="inputsearch" [(ngModel)]="parent_name" disabled="disabled">			
				<label for="email">Category</label>
				<input type="text" maxlength="50" class="inputsearch" name="name" formControlName="name"  [(ngModel)]="name" required>
				
				<input type="hidden" name="parent" value='' formControlName="parent" [(ngModel)]="parent">
				</div>	
				<input type="submit" value="Add" class="add-items"  *ngIf="!edit;"> 
				<input type="submit" value="Update" class="add-items"  *ngIf="edit;"> 
				<input type="button" value="Delete" class="add-items" (click)="deleteCate()" *ngIf="edit;" style="margin-left: 5px;"> 
				<input type="button" value="Reset" (click)="resetForm()" class="add-items" style="margin-left: 5px;"> 
		</form>
	</div>
</div>
</div>
